<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zamadatavault</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>QLSupportedContentTypes</key>
	<array>
		<string>com.zama.fhe.encrypted</string>
		<string>com.zama.fhe.encryptedAd</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Telegraf-Bold.ttf</string>
		<string>Telegraf-UltraBold.ttf</string>
		<string>Telegraf-Regular.ttf</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zama FHE Encrypted File Type</string>
			<key>UTTypeIdentifier</key>
			<string>com.zama.fhe.encrypted</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fheencrypted</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-fheencrypted</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zama FHE Encrypted Ad</string>
			<key>UTTypeIdentifier</key>
			<string>com.zama.fhe.encryptedAd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fheencryptedAd</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-fheencrypted-ad</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
